<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #app {
            width: 600px;
            height: auto;
            margin: 0 auto;
        }
        input {
            width: 100%;
            height: 33px;
        }

        details {
            margin: 30px 0;
        }
        #box {
            display: flex;
            margin-top: 5px;
        }
        #box input {
            flex-basis: 80%;
        }
        #box button {
            flex-basis: 20%;

        }
        footer {
            padding-top: 10px
        }
        .record-list {
            display: flex;
            justify-content: space-between;
            width: 100%;

        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <h1>Vue3特性体验</h1>
        </header>
        <section>
            <details>
                <summary>存款记录 总共存款 {{total}}</summary>

                <div v-if="!record.length" style="text-align: center;"><span>没有存款记录</span></div>
                <div v-else class="record-list" v-for="item in record">
                    <p>{{'存入' + item.number + '元' }}</p>
                    <p>{{item.time}}</p>
                </div>
            </details>
        </section>
        <section>
            <main>
                <form id="form">
                    <label>存入数目：</label>
                    <div id="box">
                        <input type="number" v-model="money">
                        <button type="button" @click="saveMoney" ref="el">存入</button>
                    </div>
                </form>
                <footer>
                    当前输入金额金额:{{money}}, 单笔最大不能超过 3000元
                    <meter :value="money" min="0" :max="max" low="1000" high="2000"></meter>
                </footer>
            </main>
        </section>
    </div>
    <script src="../static/js/vue.global.js"></script>
    <script>
        let days = {
            0: '日',
            6: '六',
            5: '五',
            4: '四',
            3: '三',
            2: '二',
            1: '一'
        }
        const {createApp, reactive, toRefs, computed, watchEffect, watch, ref, toRef}  = Vue
        function format(time) {
            let year = time.getFullYear()
            let month = time.getMonth() + 1
            let date = time.getDate()
            let day = time.getDay()
            let hour = time.getHours() < 10 ? '0'+ time.getHours() : time.getHours()
            let min = time.getMinutes() < 10 ? '0'+ time.getMinutes() : time.getMinutes()
            return  `${year}-${month}-${date} 星期${days[day]} ${hour}:${min} `
        }

        const app = createApp({
            setup() {
                let state = reactive({
                    money: '',
                    max: 3000,
                    record:[],
                    total: computed(() => {
                        if (!state.record.length) {
                            return 0
                        } else {
                            return state.record.reduce((a, b) => {
                                const pre = typeof a === 'object'  ? a.number : a
                                return pre +b.number
                            }, {
                                number: 0
                            })
                        }
                    }),
                    obj: {
                        a: 1,
                        b: 2
                    }
                })

                const saveMoney = () => {
                    let {record, money, max} = state
                    if (!money){
                        alert("请输入金额")
                        return
                    }
                    if (money > max){
                        alert(`输入金额不能大于${max}`)
                        return
                    }
                    record.push({
                        time: format(new Date()),
                        number: money,
                    })
                    state.money = ''
                    count.value++
                    // console.log(el)
                    // el.value.innerHTML = 'sd'//等于Vue2 ref用法
                    // jk.value.innerHTML = 'sd'不能这么用
                }
                // watchEffect(() => {
                //     console.log(state.total)
                //     console.log('watchEffect监听有存款')
                // })
                // console.log(watch)
                //reactive对象，deep默认是true
                //isRef
                //function
                let count = ref(state.total)
                watch(count, () => {
                    console.log('watch监听有存款')
                })
                let el = ref(null)//初始化一个值，单值响应
                // let jk = toRef(state, 'total')//把某个对象中，key对应的值做单值响应，差不多

                return {
                    // jk,
                    el,
                    count,
                    ...toRefs(state),
                    saveMoney
                }
            }
        }).mount("#app")
    </script>
</body>

</html>